$color--danger: #f5365c;
$color--success: #2dce89;
$color--warning: #fb6340;
$color--primary: #5e72e4;
$color--primary-secondary: #8392ab;
$color--info: #11cdef;
$color--white: #fff;
$color--gray-100: #f6f9fc;
$color--gray-200: #e9ecef;
$color-gray-300: #dee2e6;
$color--gray-400: #ced4da;
$color--gray-500: #adb5bd;
$color--gray-600: #8898aa;
$color--gray: #6C757D;
$color--gray-700: #525f7f;
$color--gray-800: #32325d;
$color--black: #212529;
$color--divider: linear-gradient(90deg, rgb(224 225 226 / 1) 0%, rgb(224 225 226 / 1) 15.63%, rgb(224 225 226 / 1) 100%);

$color--gradient-violet: linear-gradient(124deg, #5E72E4 -1.8%, #825EE4 105.23%);
$color--gradient-violet-dark: linear-gradient(81.62deg, #313860 2.25%, #151928 79.87%);
$color--gradient-orange: linear-gradient(338.54deg, #F55C3A 31.89%, #F53B58 61.42%);
$color--gradient-orange-secondary: linear-gradient(91.81deg, #FBB140 1.1%, #FB6340 99.77%);
$color--gradient-blue: linear-gradient(121.78deg, #11CDEF 9.06%, #1171EF 88.15%);
$color--gradient-green: linear-gradient(338.08deg, #2DCEC6 27.53%, #2DCE94 61.45%);
$color--gradient-gray: linear-gradient(263.35deg, #CED4DA 24.73%, #EBEFF4 86.57%);
$color--gradient-black: linear-gradient(124deg, rgb(33 34 41 / 0.6) -1.8%, rgb(33 37 41 / 0.6) 105.23%);
